general {
        output_format = "i3bar"
        colors = true
        interval = 5
}

order += "read_file timer"
order += "ipv6"
order += "disk /"
order += "read_file VPNC"
order += "path_exists VPN"
order += "wireless wlp1s0"
order += "ethernet eth0"
order += "battery 0"
order += "memory"
order += "load"
order += "tztime local"
order += "tztime vienna"

wireless wlp1s0 {
        format_up = "W: (%quality at %essid, %bitrate) %ip"
        format_down = "W: down"
}

ethernet eth0 {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

battery 0 {
        format = "%status %percentage %remaining %emptytime"
        format_down = "No battery"
        status_chr = "⚡ CHR"
        status_bat = "🔋 BAT"
        status_unk = "UNK"
        status_full = "FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

run_watch DHCP {
        pidfile = "/var/run/dhclient*.pid"
}

read_file timer {
	path = "/home/faebl/.config/i3status/timer"
}

read_file VPNC {
	path = "/home/faebl/.config/i3status/vpnc"
}

path_exists VPN {
        # path exists when a VPN tunnel launched by nmcli/nm-applet is active
        path = "/proc/sys/net/ipv4/conf/proton0"
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S"
        hide_if_equals_localtime = true
}

tztime vienna {
        format = "%Y-%m-%d %H:%M:%S %Z"
        timezone = "Europe/Vienna"
}

load {
        format = "%5min"
}

cpu_temperature 0 {
        format = "T: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/temp1_input"
}

memory {
        format = "%used"
        threshold_degraded = "10%"
        format_degraded = "MEMORY: %free"
}

disk "/" {
        format = "%free"
}

read_file uptime {
        path = "/proc/uptime"
}
